DIRECTUS_NEWS="https://fdnd-agency.directus.app/items/nebula_xplorer_news"
DIRECTUS_SCIENTIFIC="https://fdnd-agency.directus.app/items/nebula_xplorer_news"
DIRECTUS_VACANCIES="https://fdnd-agency.directus.app/items/nebula_xplorer_vacancies"
DIRECTUS_TEAMS="https://fdnd-agency.directus.app/items/nebula_xplorer_teams"
DIRECTUS_TESTIMONIALS="https://fdnd-agency.directus.app/items/nebula_xplorer_testimonials"
